body {
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

#daroSamaky {
    font-family: Arial, sans-serif;
    color: white;
    font-size: 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#daroSamaky:hover {
    cursor: pointer;
    transition: font-size 0.3s ease;
    font-size: 55px;
    user-select: none;
}

#daroSamaky {
    transition: font-size 0.3s ease;
}


